/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/.env
/.env.*
!/.env.example
/.phpunit.cache
/.phpunit.result.cache
/.build
/database/*.sqlite
/storage/app/private/exports/*
/storage/app/private/backups/*
/.idea
/.vscode
